{% extends 'base_menu.html' %}

{% block css %}
{% endblock %}
{% block js %}
{% endblock %}

{% block body%}

    <!-- Page Title -->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="col-lg-6 col-xs-12">
                	<h2>About Us</h2>
                </div>
                
                <div class="col-lg-6 col-xs-12 text-right">
                	Pages / <span class="page-name">About Us</span>
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column text-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<h1 class="big-title">We are the <br><strong class="theme_color">Creative Agency</strong></h1>
                        <div class="text"><p>We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry. Our teams are up to date with the latest technologies, media trends and are keen to prove themselves in this industry and that’s what you want from an advertising agency, not someone who is relying on the same way of doing things that worked 10 years, 5 years or even a year ago.</p></div>
                        
                        <a href="#" class="theme-btn btn-theme-one"><span class="icon-left fa fa-play-circle-o"></span> Join Our Company</a>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                	<figure class="image"><img class="img-responsive" src="{{ MEDIA_URL }}images/resource/featured-image-5.jpg" alt=""></figure>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--Team Section-->
    <section class="team-section style-three has-padding no-padd-top">
		
    
        <!--Section Title-->
        <div class="sec-title text-center clearfix">
            <h2>MEET OUR AWESOME TEAM</h2>
            <div class="line-centered"></div>
        </div>
        
    	<div class="auto-container">
            
            <div class="clearfix">
        	
                <!--Team Member-->
                <article class="team-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box text-center">
                        <figure class="image">
                            <a href="mailto:mail@memberemail.com"><img src="{{ MEDIA_URL }}images/resource/team-12.jpg" alt=""></a>
                            <div class="hover-info">Steven Ric - CEO</div>
                        </figure>
                        <div class="social-links-one">
                        	<a href="#" class="facebook fa fa-facebook-f"></a>
                            <a href="#" class="twitter fa fa-twitter"></a>
                            <a href="#" class="linkedin fa fa-linkedin"></a>
                            <a href="#" class="google-plus fa fa-google-plus"></a>
                        </div>
                    </div>
                </article>
                
                <!--Team Member-->
                <article class="team-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box text-center">
                        <figure class="image">
                            <a href="mailto:mail@memberemail.com"><img src="{{ MEDIA_URL }}images/resource/team-13.jpg" alt=""></a>
                            <div class="hover-info">Ricky - Web Designer</div>
                        </figure>
                        <div class="social-links-one">
                        	<a href="#" class="facebook fa fa-facebook-f"></a>
                            <a href="#" class="twitter fa fa-twitter"></a>
                            <a href="#" class="linkedin fa fa-linkedin"></a>
                            <a href="#" class="google-plus fa fa-google-plus"></a>
                        </div>
                    </div>
                </article>
                
                <!--Team Member-->
                <article class="team-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box text-center">
                        <figure class="image">
                            <a href="mailto:mail@memberemail.com"><img src="{{ MEDIA_URL }}images/resource/team-14.jpg" alt=""></a>
                            <div class="hover-info">Steven Port - SEO</div>
                        </figure>
                        <div class="social-links-one">
                        	<a href="#" class="facebook fa fa-facebook-f"></a>
                            <a href="#" class="twitter fa fa-twitter"></a>
                            <a href="#" class="linkedin fa fa-linkedin"></a>
                            <a href="#" class="google-plus fa fa-google-plus"></a>
                        </div>
                    </div>
                </article>
                
                <!--Team Member-->
                <article class="team-member col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box text-center">
                        <figure class="image">
                            <a href="mailto:mail@memberemail.com"><img src="{{ MEDIA_URL }}images/resource/team-15.jpg" alt=""></a>
                            <div class="hover-info">John Doe - Manager</div>
                        </figure>
                        <div class="social-links-one">
                        	<a href="#" class="facebook fa fa-facebook-f"></a>
                            <a href="#" class="twitter fa fa-twitter"></a>
                            <a href="#" class="linkedin fa fa-linkedin"></a>
                            <a href="#" class="google-plus fa fa-google-plus"></a>
                        </div>
                    </div>
                </article>
                
            </div>
            
            
        </div>
        
    </section>
    
    
    <!--Testimonials-->
    <section class="testimonials-two bg-pattern-style">
		<div class="auto-container">
            
            <!--Section Title-->
            <div class="sec-title text-center">
                <h2>CLIENT TESTIMONIALS</h2>
                <div class="line-centered"></div>
                <div class="text">We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</div>
            </div>
            
                        
        	<div class="testimonials-slider column-carousel three-column">
            	
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/author-thumb.jpg" alt=""></figure>
                    <div class="author-title">Bradley Cooper</div>
					<div class="author-occupation">Corporate Agency</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="author-title">Steven Oakley</div>
					<div class="author-occupation">Envato</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="author-title">Taylor Switch</div>
					<div class="author-occupation">Microsoft</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/author-thumb.jpg" alt=""></figure>
                    <div class="author-title">Bradley Cooper</div>
					<div class="author-occupation">Corporate Agency</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/author-thumb-2.jpg" alt=""></figure>
                    <div class="author-title">Bradley Cooper</div>
					<div class="author-occupation">Corporate Agency</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/testi-image-5.jpg" alt=""></figure>
                    <div class="author-title">Steven Oakley</div>
					<div class="author-occupation">Envato</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/testi-image-7.jpg" alt=""></figure>
                    <div class="author-title">Taylor Switch</div>
					<div class="author-occupation">Microsoft</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
                <article class="slide-item">
                	<figure class="image-box"><img src="{{ MEDIA_URL }}images/resource/author-thumb-2.jpg" alt=""></figure>
                    <div class="author-title">Bradley Cooper</div>
					<div class="author-occupation">Corporate Agency</div>
                    <div class="slide-text">
                        <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss.”</p>
                    </div>
                    
                </article>
                
            </div>
            
        </div>    
    </section>
    
    
    <!--Default Section-->
    <section class="default-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="default-title">Our skills</h3>
                        <div class="default-line-left margin-bott-30"></div>
                        
                        <div class="progress-levels">
                                	
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="box-title">Webdesign</div>
                                <div class="inner-box">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="88"></div></div>
                                        <div class="percent text-right"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="box-title">DEVELOPEMENT</div>
                                <div class="inner-box">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="78"></div></div>
                                        <div class="percent text-right"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="box-title">WORDPRESS</div>
                                <div class="inner-box">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="68"></div></div>
                                        <div class="percent text-right"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="box-title">INTERNET MARKETING</div>
                                <div class="inner-box">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="58"></div></div>
                                        <div class="percent text-right"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Skill Box-->
                            <div class="progress-box wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
                                <div class="box-title">SEO</div>
                                <div class="inner-box">
                                    <div class="bar">
                                        <div class="bar-innner"><div class="bar-fill" data-percent="98"></div></div>
                                        <div class="percent text-right"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="default-title">What we do</h3>
                        <div class="default-line-left margin-bott-30"></div>
                        
                        <!-- Tabs Box -->
                        <div class="tabs-box">
                            <!-- Tab Buttons -->
                            <div class="tab-buttons anim-3-all clearfix">
                                <a href="#tab-one" class="tab-btn active">Graphics</a>
                                <a href="#tab-two" class="tab-btn">Logos</a>
                                <a href="#tab-three" class="tab-btn">Mocups</a>
                            </div>
                            
                            <div class="tabs-content">
                            
                                <!-- Tab -->
                                <div class="tab active-tab" id="tab-one">
                                    <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity possible so that you can see a return from the advertising.</p>
                                </div>
                                <!-- Tab -->
                                <div class="tab" id="tab-two">
                                    <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve the greatest amount of publicity.</p>
                                </div>
                                <!-- Tab -->
                                <div class="tab" id="tab-three">
                                    <p>We believe that analysis of your company and your customers is key in responding effectively to your promotional needs and we will work with you to fully understand your business to achieve.</p>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    
                    </div>
                </div>
                
                
                <!--Column-->
                <div class="column col-lg-4 col-md-12 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="default-title">Our Services</h3>
                        <div class="default-line-left margin-bott-30"></div>
                        
                        <!-- Accordion Box -->
                        <div class="accordion-box style-one">
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn active">Creative theme developement #1<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content collapsed">
                                    <p>We can create a brand that stands out and truly reflects your business and the message you want to convey.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn">WORDPRESS CUSTOMIZATION #2<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content">
                                    <p>We can create a brand that stands out and truly reflects your business and the message you want to convey.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn">CMS INTEGRATION #3<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content">
                                    <p>We can create a brand that stands out and truly reflects your business and the message you want to convey.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn">PHOTOSHOP LAYOUT DESIGN #4<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content">
                                    <p>We can create a brand that stands out and truly reflects your business and the message you want to convey.</p>
                                </div>
                            </article>
                            
                        </div>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--Sponsors Section-->
    <section class="sponsors-section style-one bg-color-yellow">
    	<div class="auto-container">
			<div class="sponsors-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-slider">
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-9.png" alt=""></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-10.png" alt=""></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-11.png" alt=""></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-12.png" alt=""></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-13.png" alt=""></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-9.png" alt=""></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-10.png" alt=""></a></li>
                    <li><a href="#"><img src="{{ MEDIA_URL }}images/clients/logo-11.png" alt=""></a></li>
                </ul>
        	</div>
        </div>
    </section>
    
{% endblock %}
