{% extends 'base_menu.html' %}
{% load ratings_tags %}

{% block css %}

    <link href="{{ MEDIA_URL }}css/style2.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/bootstrap-reset.css" rel="stylesheet">
    

    <link href="{{ MEDIA_URL }}css/style-responsive.css" rel="stylesheet" />
    <link href="{{ MEDIA_URL }}css/anime-style.css" rel="stylesheet" />

{% endblock %}
{% block js %}
<script type="text/javascript">
        
        function daikirai(anime_id){
            
            $.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'daikirai' %}",
                data: {
                    'username': "{{request.user.username}}",
                    'anime_id': anime_id,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success:function(response){
                    $('#daikirai').hide();
                    $('#daisuki').show();
                    $.notify("Added to your daikirailist", "danger");
                    setTimeout('RedirectUpdate()', 2000);
                }
            });
        }
		
		function daisuki(anime_id){
            
            $.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'daisuki' %}",
                data: {
                    'username': "{{request.user.username}}",
                    'anime_id': anime_id,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success:function(response){
                    $('#daisuki').hide();
                    $('#daikirai').show();
                    $.notify("Added to your daisukilist", "info");
                    setTimeout('RedirectUpdate()', 2000);
                }
            });
        }
        
        function watchlist(anime_id, status){
            
            $.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'watchlist' %}",
                data: {
                    'username': "{{request.user.username}}",
                    'anime_id': anime_id,
                    'status': status,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success:function(response){
                    $('#watchlist').html(status+'<span class="caret"></span>');
                    
                    $.notify("Added to your watchlist as "+ status, "default");
                    setTimeout('RedirectUpdate()', 2000);
                }
            });
        }
        
        
        
    </script>
{% endblock %}

{% block body%}
    <!--Main Slider-->
    {% with anime_data as i %}
        <section class="page-title anime-cover" style="background-image: url({{ MEDIA_URL }}{{i.a_cover}});">
            {% if request.user.is_authenticated %}
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-xs-12" style="position:absolute;bottom:30px;">                        
                        <div style="top:5px; padding-left:15px;">
                            <button class="btn" data-toggle="modal" data-target="#edit-page" style="opacity:0.8; color:white;">Edit this page</button>
                        </div>                        
                    </div>
                </div>
            </div>
            {% endif %}
        </section>
        
        <!-- Modal -->
        <div class="modal fade" id="edit-page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Anime</h4>
              </div>
              
              <div class="modal-body">
                Synopsis
                <textarea id="synopsis-edit" class="form-control" rows="7">{{i.a_synopsys}}</textarea>
                <br>
                <div class="form-inline">
                  <div class="form-group">
                    <label for="exampleInputName2">Aired from </label>
                    <input id="start-edit" type="text" value="{{i.a_airedstart|date:'SHORT_DATE_FORMAT'}} " class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail2">to</label>
                    <input id="end-edit" type="text" value="{{i.a_airedend|date:'SHORT_DATE_FORMAT'}}" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                  </div>                  
                </div>
                
                
                
              </div>
              <div class="modal-footer">
                <button id="request-edit" type="button" class="btn btn-default" data-dismiss="modal">Request edit</button>                
              </div>
            </div>
          </div>
        </div>


    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix" style="margin-top:-20px;">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="formAnimes">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="col-md-4 col-sm-6 col-xs-12" style="margin:-5px 0 0 -20px;">
                                        <!--Image-->
                                        <figure class="image">
                                            <a href="#" class="lightbox-image"
                                               title="{{i.a_name}}"><img src="{{ MEDIA_URL }}{{i.a_displaypic}}" alt="" width="215" height="311" style="border-radius:5px;"></a>
                                        </figure>
                                    </div>

                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <!--Content-Column-->
                                        <div class="cont-column">
                                            <div class="inner-box">
                                                <h3 class="anime-title"><a href="#">{{i.a_name}}</a></h3>

                                                <div class="item-cats subtitle">Aired from {{i.a_airedstart}} to {{i.a_airedend}}
                                                </div>
                                                <div class="description anime-desc" >
                                                    {{i.a_synopsys}}
                                                </div>
                                                <div class="sidebar">
                                                    <div class="popular-tags">
                                                        <div class="sidebar-title">
                                                            <h2 class="anime-tags">Genres</h2>
                                                        </div>
                                                        <div class="tags">
                                                            {% for genre in i.a_genre.all %}
                                                                <a href="#">{{genre.genre_type}}</a>
                                                            {% endfor %}
                                                        </div>                                                                                  											                                                        
                                                    </div>
                                                </div>
                                             {% if request.user.is_authenticated %}												 
												 
												{% get_rating_form for i as rating_form %}
												<form id="rate-form">
													{% csrf_token %}
													{{ rating_form }}
													
												</form>
												<div id="ratings-average">
													{% get_rating_score for i as score %}
													{% if score %}
														Average ratings: {{ score.average|floatformat }}<br>
														Number of votes: {{ score.num_votes }}<br>
													{% else %}
														How sad: nobody voted {{ film }}<br>
													{% endif %}
												</div>


												<div class="btn-group">
													<button id="watchlist" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
														{% if watchlist %} {{watchlist.status}} {% else %}Add to Watchlist {% endif %} <span class="caret"></span></button>
													<ul role="menu" class="dropdown-menu">
														<li><a href="#watchlist" onclick="watchlist({{i.id}},'Bliss')">Bliss</a></li>
														<li><a href="#watchlist" onclick="watchlist({{i.id}},'Life')">Life</a></li>
														<li><a href="#watchlist" onclick="watchlist({{i.id}},'Hope')">Hope</a></li>														
														<li><a href="#watchlist" onclick="watchlist({{i.id}},'Agony')">Agony</a></li>
													</ul>
												</div><!--btn-group-->
												<div class="btn-group">													
													<button {% if daisuki %} style="display:none;" {% endif %}  id="daisuki" class="btn btn-info" onclick="daisuki({{i.id}})" type="button">
														Add to Daisukilist </button>
												</div><!--btn-group-->
												
												<div id="daikirai" class="btn-group">													
													<button {% if daikirai %} style="display:none;" {% endif %} class="btn btn-danger" onclick="daikirai({{i.id}})" type="button">
														Add to Daikirailist </button>
												</div><!--btn-group-->
											{% endif %}
												
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <div class="panel-body">
									<div class="cont-column">
										<div class="inner-box">
											<h3>Cast</h3><hr/>
											<div class="row">
											
                                                {% for character in i.character_set.all %}                                                
													{% for voice in character.voicecharacter_set.all %}
													<div class="col-md-4">
														<strong>
															<a href ="{% url 'anime_voice' id=voice.id %}">
																{{voice}}
															</a>
														</strong> 
														<br> as <a href ="{% url 'anime_character' slug=i.slug id=character.id %}">
														{{character.name}}</a>
														{% if character.picture %}
															<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}{{character.picture}}" alt="">
														{% else %}
															<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}MembersPicture/pic.png" alt="">
														{% endif %}
													</div>           
													{% empty %}
													<div class="col-md-4">
														<a href ="{% url 'anime_character' slug=i.slug id=character.id %}">
														{{character.name}}</a>
														{% if character.picture %}
															<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}{{character.picture}}" alt="">
														{% else %}
															<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}MembersPicture/pic.png" alt="">
														{% endif %}
														
													</div>           
													{% endfor %}
												{% endfor %}	 										
											                                                                            
                                        </div>
                                     </div>
                                 </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <section class="panel panel-default  post-comments">
                        <div class="panel-heading">
							Top Latest Comments
							<div class="pull-right">
								<a href="{% url 'anime_reviews' slug=i.slug %}">View All </a>
								
                            </div>
                        </div>
                        <div id="panel-comments" class="panel-body">
							{% if commentanimes %}
							{% for review in commentanimes|slice:":3" %}
							<div class="media p15">
								<a class="pull-left" href="{% url 'users' username=review.user.user.username %}">
									{% if review.user.m_picture %}
										<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}{{review.user.m_picture}}" alt="">
									{% else %}
										<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}MembersPicture/pic.png" alt="">
									{% endif %}
								</a>
								
								<div class="comment">
									<div class="comment-author h6 no-m">
										<a href="{% url 'users' username=review.user.user.username %}"><b>{{review.user.user.username}}</b></a>
									</div>
									<div class="comment-meta small">
										{{review.added}}
									</div>
									<p>
										{{review.comment}}
									</p>

									<p class="small">										
										<a id="heart-{{review.id}}" class="mr10"><i class="fa fa-heart-o mr5"></i><span id="like-{{review.id}}">{{review.votes.count}} </span> Likes</a>										
									</p>
									<script>
										
											$.get("{% url 'show_likes' entity='anime' id=review.id %}", function(data, status){						
												
												if (data.voted){
													$('#heart-{{review.id}}').addClass('text-danger');											
												}
											});
										
									</script>
									<hr>
								</div>
							</div>
							{% endfor %}
                            {% endif %}
							
							{% if request.user.is_authenticated %}
								<form method="POST" action="{% url 'anime_reviews_add' slug=i.slug %}">
                                    <div class="form-group">
										{% csrf_token %}
                                        <textarea class="form-control" rows="3" placeholder="Add Comment..." name="comment"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">POST</button>
                                </form>
                             {% endif %}
                        </div>
                        
                        
                        
                    </section>
                    
                </div>
            </div>
        </div>
    </div>

    
	<script type="text/javascript">
        $(document).ready(function() {
			$('#id_score').addClass('rating');
			$('#id_score').attr('type', 'hidden');
		});
		
		 $("#rate-form").click(function() {
                rate();
          });
          
          function rate(){
            
            $.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'ratings_vote' %}",
                data: {
					'honeypot': $('#id_honeypot').val(),
					'security_hash': $('#id_security_hash').val(),
					'timestamp': $('#id_timestamp').val(),
					'key': $('#id_key').val(),
					'object_pk': $('#id_object_pk').val(),
					'content_type': $('#id_content_type').val(),
					'score': $('#id_score').val(),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success:function(response){
					$.get("{% url 'ratings_average' entity='anime' id=i.id %}", function(data, status){
						
						$('#ratings-average').html(data)
					});
                    $.notify("Rated "+ status, "default");
                    setTimeout('RedirectUpdate()', 2000);
                }
            });
        }
        
        $("#panel-comments").on('click', 'a[id^=heart-]', function(){
			var id = $(this).attr('id').split('-')[1];
			$.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'likes' entity='anime' %}",
                data: {					
					'username': '{{request.user}}',
					'id': id,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success:function(response){				
					voted = response.voted 																
                    $('#like-'+id).text(response.total_votes);
                    if (voted){
						$('#heart-'+id).addClass('text-danger');
						$.notify("Liked", "info");
					}
					else{
						$('#heart-'+id).removeClass('text-danger');
						$.notify("Unliked", "default");
					}
                    
                    setTimeout('RedirectUpdate()', 2000);
                    
                }
            });
			
		});
        
        $("#request-edit").click(function() {
            synopsis=$('#synopsis-edit').val();
            start=$('#start-edit').val();
            end=$('#end-edit').val();
            $.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'request_edit' %}",
                data: {					
					'username': '{{request.user}}',
					'anime_id': '{{i.id}}',
                    'synopsis': synopsis,
                    'start': start,
                    'end': end,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success:function(response){				
					$.notify("Request sent", "default");					                    
                    setTimeout('RedirectUpdate()', 2000);
                }
            });
            
          });
	</script>
	{% endwith %}
{% endblock %}
