<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Animetacchi</title>
    <!-- Stylesheets -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/bootstrap-rating.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/revolution-slider.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/jquery-ui.css" rel="stylesheet">
	<link href="{{ MEDIA_URL }}css/freelancer.min.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{{ MEDIA_URL }}css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="{{ MEDIA_URL }}js/respond.js"></script><![endif]-->
    <!-- Jquery Js -->
    <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    
    

    {% block css %}{% endblock %}
    {% block js %}<script>$(document).bind('star_change', function(event, value) {
    alert('New vote: ' + value);
});</script>{% endblock %}
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="height: 44px;">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars" style="font-size: 20px;margin-top: 5px;"></i>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Animetacchi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% include 'base/navigation.html' %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    
    
    {% block body %}
    {% endblock %}
    
    <!--Main Footer-->
    <footer class="main-footer">
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container">
                <!--Copyright-->
                <div class="copyright">Made with &ensp;<span class="theme_color fa fa-heart-o"></span>&ensp; by et-projects | &copy; Copyright 2016 All Rights Reserved</div>
            </div>
        </div>
        
    </footer>
    
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top"><span class="fa fa-arrow-up"></span></div>




<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ MEDIA_URL }}js/bxslider.js"></script>
<script src="{{ MEDIA_URL }}js/owl.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.appear.js"></script>
<script src="{{ MEDIA_URL }}js/knob.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fancybox.pack.js"></script>
<script src="{{ MEDIA_URL }}js/nouislider.js"></script>
<script src="{{ MEDIA_URL }}js/wow.js"></script>
<script src="{{ MEDIA_URL }}js/script.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap-rating.js"></script>
<script src="{{ MEDIA_URL }}js/notify.min.js"></script>

</body>
</html>
