<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Animetacchi</title>
    <!-- Stylesheets -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/revolution-slider.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{{ MEDIA_URL }}css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="{{ MEDIA_URL }}js/respond.js"></script><![endif]-->
    <!-- Jquery Js -->
    <script src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <!-- ReadMore Js -->
    <script src="{{ MEDIA_URL }}js/read-more.js"></script>
    <style>
        .morecontent span {
            display: none;
        }
        .more-link {
            display: block;
        }
    </style>
</head>

<body class="theme-orange">
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header / Sticky Header-->
    <header class="main-header sticky-header">
        
        <!-- Header Lower -->
        <div class="header-lower">
            	
                <!--Outer Box-->
                <div class="outer-box clearfix">
                
                    <!-- Logo -->
                    <div style="position:absolute;padding-top:28px;">
                        <a href="{% url 'home' %}"><span><h3 style="color:#fff;line-height:1em;">Animetacchi</h3></span></a>
                    </div>

                    <!--Search Btn
                    <div class="search-box-btn"><span class="icon fa fa-search"></span></div>
					-->
                    <!-- Main Menu -->
                    <nav class="main-menu">

                        <div class="navbar-collapse collapse clearfix">
                            {% include 'base/navigation.html' %}
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
        </div><!-- Header Lower End-->
        
    </header><!--End Main Header -->

    <!--Main Slider-->
    <section class="main-slider">
    	
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                            data-thumb="{{ MEDIA_URL }}IndexCover/dragon-ball-z.jpg" data-saveperformance="off"
                            data-title="Dragon Ball">
                            <img src="{{ MEDIA_URL }}IndexCover/dragon-ball-z.jpg" alt="" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">


                        </li>

                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                            data-thumb="{{ MEDIA_URL }}IndexCover/op.jpg" data-saveperformance="off"
                            data-title="One Piece">
                            <img src="{{ MEDIA_URL }}IndexCover/op.jpg" alt="" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">


                        </li>
                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                            data-thumb="{{ MEDIA_URL }}AnimeCover/One-Punch-Man-Anime-Magazine-Visual-02.jpg" data-saveperformance="off"
                            data-title="One Punch Man">
                            <img src="{{ MEDIA_URL }}AnimeCover/One-Punch-Man-Anime-Magazine-Visual-02.jpg" alt="" data-bgposition="center top"
                                 data-bgfit="cover" data-bgrepeat="no-repeat">


                        </li>
                    
                </ul>
                
            	<div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    
    
    <!--Sidebar Page-->
    <div class="sidebar-page">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <section class="blog-container centered-blog text-center">

                        <!--Section Title-->
                        <div class="sec-title text-center">
                            <div class="sub-title-theme theme_color">STAY TUNED AND UP TO DATE</div>
                            <h3 class="bigger-title">Latest from Animetacchi</h3>
                        </div>

                        {% for i in anime_data %}
                        <!--Blog Post-->
                        <div class="blog-post wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <article class="column-inner">
                                <figure class="image-box">
                                    <a href="{% url 'anime_details' slug=i.slug %}"><img src="{{ MEDIA_URL }}{{i.a_cover}}" alt="" title="Blog" width="1171" height="389"></a>
                                </figure>
                                <div class="lower-part">
                                    <div class="post-info">
                                        {% for genre in i.a_genre.all  %}
                                            <input type="hidden" value="{{genre.genre_type}}">
                                            <span class="bullet">&bull;</span> <a href="javascript:;">{{genre.genre_type|upper}}</a>
                                        {% endfor %}
                                        <!--<span class="bullet">&bull;</span> <a href="#">DESIGN,
                                        MEDIA, ILLUSTRATION</a> <span class="bullet">&bull;</span> <a href="#">BY JONATHAN
                                        DOE</a> <span class="bullet">&bull;</span> <a href="#">31 COMMENTS</a>-->
                                    </div>
                                    <div class="post-title"><h3><a href="{% url 'anime_details' slug=i.slug %}">{{i.a_name}}</a>
                                    </h3></div>
                                    <div class="post-text more "> {{i.a_synopsys}}
                                    </div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Client Testimonials -->
    <section class="client-testimonials style-one rounded-nav orange-theme">
    	<div class="auto-container">
        
        	<!--Section Title-->
            <div class="sec-title text-center">
                <h2><span class="quote-icon fa fa-quote-right"></span></h2>
            </div>
            
            {% if index %}
                <div class="testimonial-slider-full">
                    {% for i in index %}
                    <article class="slide">
                    
                        <div class="text">{{i.news}}</div>
                        <!--div class="author-info"></div-->
                    </article>
                    {% endfor %}
                    
                </div>
            {% endif %}
        </div>
    </section>

    <!--Main Footer-->
    <footer class="main-footer">

        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container">
                <!--Copyright-->
                <div class="copyright">Made with &ensp;<span class="theme_color fa fa-heart-o"></span>&ensp; by et-projects | &copy; Copyright 2016 All Rights Reserved</div>
            </div>
        </div>
        
    </footer>
    
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top"><span class="fa fa-arrow-up"></span></div>


<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-close7"></span></div>
	<div class="popup-inner">
    
    	<div class="search-form">
        	<form method="post" action="index.html">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Freedom</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ MEDIA_URL }}js/revolution.min.js"></script>
<script src="{{ MEDIA_URL }}js/bxslider.js"></script>
<script src="{{ MEDIA_URL }}js/owl.js"></script>
<script src="{{ MEDIA_URL }}js/mixitup.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.fancybox.pack.js"></script>
<script src="{{ MEDIA_URL }}js/owl.js"></script>
<script src="{{ MEDIA_URL }}js/wow.js"></script>
<script src="{{ MEDIA_URL }}js/script.js"></script>
</body>
</html>
