{% extends 'base_menu.html' %}

{% block css %}
{% endblock %}
{% block js %}
{% endblock %}

{% block body%}

    <!-- Page Title -->
    <section class="page-title">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <div class="col-lg-6 col-xs-12">
                	<h2>Our Services</h2>
                </div>
                
                <div class="col-lg-6 col-xs-12 text-right">
                	Pages / <span class="page-name">Our Services</span>
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    <!--Default Section / Our Services-->
    <section class="default-section">
    	<div class="auto-container">
            
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column icon-column style-two bg-icon col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="montserrat-font"><span class="icon flaticon-rain9"></span> Colour Switching Features</h3>
                        <div class="text">We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column style-two bg-icon col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="montserrat-font"><span class="icon flaticon-lock39"></span> Security Service</h3>
                        <div class="text">We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column style-two bg-icon col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="montserrat-font"><span class="icon flaticon-favorite7"></span> Design With Love</h3>
                        <div class="text">We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column style-two bg-icon col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="montserrat-font"><span class="icon flaticon-rocket64"></span> Easy SEO Customization</h3>
                        <div class="text">We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column style-two bg-icon col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="montserrat-font"><span class="icon flaticon-sailingboat1"></span> PSD Files Included</h3>
                        <div class="text">We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column icon-column style-two bg-icon col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="montserrat-font"><span class="icon flaticon-tick7"></span> Fully Responsive</h3>
                        <div class="text">We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--Circular Graphs Section-->
    <section class="circular-graph-section">
		
            
    	<div class="auto-container">
        
            <!--Section Title-->
            <div class="sec-title text-center">
                <h2 class="text-uppercase bigger-title">OUR WEBDESIGN EXPERIENCES</h2>
                <div class="line-centered"></div>
            </div>
            
            <div class="row clearfix">
        	
            	<!--Column-->
                <article class="column style-two col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="graph-outer">
                        	<div class="circular-line img-circle"></div>
                            <input type="text" class="dial" data-fgColor="#11c3f0" data-bgColor="none" data-width="200" data-height="200" data-linecap="round"  value="76">
                            <div class="inner-text">76%</div>
                        </div>
                        <h3>Adobe Photoshop</h3>
                	</div>
                </article>
                
                <!--Column-->
                <article class="column style-two col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="graph-outer">
                        	<div class="circular-line img-circle"></div>
                            <input type="text" class="dial" data-fgColor="#11c3f0" data-bgColor="none" data-width="200" data-height="200" data-linecap="round"  value="50">
                            <div class="inner-text">50%</div>
                        </div>
                        <h3>Adobe Illustrator</h3>
                	</div>
                </article>
                
                <!--Column-->
                <article class="column style-two col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="graph-outer">
                        	<div class="circular-line img-circle"></div>
                            <input type="text" class="dial" data-fgColor="#ffc925" data-bgColor="none" data-width="200" data-height="200" data-linecap="round"  value="41">
                            <div class="inner-text">41%</div>
                        </div>
                        <h3>Adobe Dreamweaver</h3>
                	</div>
                </article>
                
                <!--Column-->
                <article class="column style-two col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box">
                        <div class="graph-outer">
                        	<div class="circular-line img-circle"></div>
                            <input type="text" class="dial" data-fgColor="#11c3f0" data-bgColor="none" data-width="200" data-height="200" data-linecap="round"  value="83">
                            <div class="inner-text">83%</div>
                        </div>
                        <h3>Adobe Fireworks</h3>
                	</div>
                </article>
                
            </div>
        </div>
        
    </section>
    
    
    <!--Default Section-->
    <section class="default-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="column col-md-7 col-sm-12 col-xs-12">
                	<figure class="image"><img class="img-responsive" src="{{ MEDIA_URL }}images/resource/featured-image-6.jpg" alt=""></figure>
                </div>
                
                
                <!--Column-->
                <div class="column text-column col-md-5 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<h3 class="default-title text-uppercase">OUR SERVICE FEATURES</h3>
                        <div class="default-line-left"></div>
                        
                        <!-- Accordion Box -->
                        <div class="accordion-box style-one">
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn active">Creative theme developement #1<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content collapsed">
                                    <p>We have a team of writers who specialise in writing end of year reports to highlight the successes of your business and the forecast for the next year.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn">WORDPRESS CUSTOMIZATION #2<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content">
                                    <p>We can create a brand that stands out and truly reflects your business and the message you want to convey.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn">CMS INTEGRATION #3<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content">
                                    <p>We have a team of writers who specialise in writing end of year reports to highlight the successes of your business and the forecast for the next year.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn">PHOTOSHOP LAYOUT DESIGN #4<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content">
                                    <p>We can create a brand that stands out and truly reflects your business and the message you want to convey.</p>
                                </div>
                            </article>
                            
                            <!-- Accordion -->
                            <article class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="acc-btn">CMS INTEGRATION #5<div class="toggle-icon"><span class="plus flaticon-add30"></span><span class="minus flaticon-minus42"></span></div></div>
                                <div class="acc-content">
                                    <p>We have a team of writers who specialise in writing end of year reports to highlight the successes of your business and the forecast for the next year.</p>
                                </div>
                            </article>
                            
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    <!--Default Section-->
    <section class="default-section process-section no-padd-top">
    	<div class="auto-container">
        
        	<div class="sec-title text-center">
            	<h2 class="default-title text-uppercase">Our Working Process</h2>
                <div class="line-centered"></div>
            </div>
            
        	<div class="row clearfix">
            	
                 <!--Column-->
                <div class="column process-column active col-md-3 col-sm-6 col-xs-12">
                	<article class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<!--Upper-->
                        <div class="upper-part">
                        	<div class="icon-outer img-circle">
                            	<span class="icon flaticon-anchor31"></span>
                                <span class="step-count img-circle">1</span>
                            </div>
                        </div>
                        <!--Lower-->
                        <div class="lower-part">
                        	<h3>Website Customization</h3>
                            <div class="text">
                            	<p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p>
                            </div>
                        </div>
                    </article>
                </div>
                
                <!--Column-->
                <div class="column process-column col-md-3 col-sm-6 col-xs-12">
                	<article class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    	<!--Upper-->
                        <div class="upper-part">
                        	<div class="icon-outer img-circle">
                            	<span class="icon flaticon-jewel4"></span>
                                <span class="step-count img-circle">2</span>
                            </div>
                        </div>
                        <!--Lower-->
                        <div class="lower-part">
                        	<h3>Website Development</h3>
                            <div class="text">
                            	<p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p>
                            </div>
                        </div>
                    </article>
                </div>
                
                 <!--Column-->
                <div class="column process-column col-md-3 col-sm-6 col-xs-12">
                	<article class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    	<!--Upper-->
                        <div class="upper-part">
                        	<div class="icon-outer img-circle">
                            	<span class="icon flaticon-rocket64"></span>
                                <span class="step-count img-circle">3</span>
                            </div>
                        </div>
                        <!--Lower-->
                        <div class="lower-part">
                        	<h3>Website SEO</h3>
                            <div class="text">
                            	<p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p>
                            </div>
                        </div>
                    </article>
                </div>
                
                 <!--Column-->
                <div class="column process-column col-md-3 col-sm-6 col-xs-12">
                	<article class="inner-box wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                    	<!--Upper-->
                        <div class="upper-part">
                        	<div class="icon-outer img-circle">
                            	<span class="icon flaticon-shield82"></span>
                                <span class="step-count img-circle">4</span>
                            </div>
                        </div>
                        <!--Lower-->
                        <div class="lower-part">
                        	<h3>Website Security</h3>
                            <div class="text">
                            	<p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p>
                            </div>
                        </div>
                    </article>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!--Intro Section-->
    <section class="intro-section bg-pattern bg-pattern-blue">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="col-md-9 col-sm-12 col-xs-12">
                	<h3 class="sub-title-theme">WE ARE PROFESSIONAL DESIGN EXPERTS</h3>
                    <h1>Are you ready to work with us?</h1>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                	<div class="text-right padd-top-40"><a href="#" class="theme-btn btn-theme-light bg-color-yellow"><span class="icon icon-left fa fa-play-circle-o"></span> Join Our Company</a></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

