                    {% for review in commentanimes %}
							<div class="media p15">
								<a class="pull-left" href="{% url 'users' username=review.user.user.username %}">
									{% if review.user.m_picture %}
										<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}{{review.user.m_picture}}" alt="">
									{% else %}
										<img class="media-object avatar avatar-sm" src="{{ MEDIA_URL }}MembersPicture/pic.png" alt="">
									{% endif %}
								</a>
								
								<div class="comment">
									<div class="comment-author h6 no-m">
										<a href="{% url 'users' username=review.user.user.username %}"><b>{{review.user.user.username}}</b></a>
									</div>
									<div class="comment-meta small">{{review.added}}</div>
									<p>
										{{review.comment}}
									</p>

									<p class="small">
										<a id="heart-{{review.id}}" class="mr10"><i class="fa fa-heart-o mr5"></i><span id="like-{{review.id}}">{{review.votes.count}} </span> Likes</a>										
										<!--a href="#" id="heart-{{review.id}}" class="mr10 text-danger"-->
									</p>
									<script>
											
												$.get("{% url 'show_likes' entity='anime' id=review.id %}", function(data, status){						
													
													if (data.voted){
														$('#heart-{{review.id}}').addClass('text-danger');											
													}
												});
											
										</script>
									<hr>
								 </div>
							</div>
                        {% endfor %}
