{% extends 'base_menu.html' %}
{% block body%}
    <!--Main Slider-->
    

    <!-- Page Title -->
    <section style="height:70px; padding-bottom:500px;"" class="page-title" >
    	<div class="auto-container">
        	<div class="row clearfix">
                <h1>You have been registered, but your account isn't active yet. Please check your email and activate your account so you can <a href="{% url 'signin' %}" style='color:grey'>login</a>.</h1>
            </div>
        </div>
    </section>
   
    
    {% endblock %}
