{% extends 'base_menu.html' %}
{% block body%}
    <!--Main Slider-->
    

    <!-- Page Title -->
    <section style="height:70px; padding-bottom:490px;"" class="page-title" >
    	<div class="auto-container">
        	<div class="row clearfix">
                
                {% if validlink %}
                <h1>Password Reset</h1>
                <div class="sky-form">
                    <header>Enter new password</header>
                </div>
                <p id="frontpagefont">Please enter your new password twice so we can verify you typed it in correctly.</p>
                <br/>
                <form action="" method="post">{% csrf_token %}
                    {{ form.new_password1.errors }}
                    <p class="aligned wide"><label for="id_new_password1">New password:</label><input id="id_new_password1" name="new_password1" type="password" class="form-control" style='width:50%'></p>
                    {{ form.new_password2.errors }}
                    <p class="aligned wide"><label for="id_new_password2">Confirm password:</label><input id="id_new_password2" name="new_password2" type="password" class="form-control" style='width:50%'></p>
                    <input style='width:15%' class="form-control" type="submit" value="Change my password"/>
                </form>
                {% else %}

                <h1>Password reset unsuccessful</h1>

                <p id="frontpagefont">The password reset link was invalid, possibly because it has already been used.  <a href='/forgot-password/'>Please request a new password</a>.</p>

                {% endif %}
            </div>
        </div>
    </section>
   
    
    {% endblock %}
